<config>
  <language>portuguese</language>

  <lucene>
    <dbPath>/resources/luceneDB/portuguese/this.db.db4o</dbPath>
    <indexPath>resources/luceneIndexes/portuguese</indexPath>
    <hitsPerQuery>10</hitsPerQuery>
    <usePreviouslyCreatedIndex>true</usePreviouslyCreatedIndex>
  </lucene>

  <paths>
    <corpusPath>corpus/por</corpusPath>
    <normalizersPath>resources/normalizers/puncts.txt</normalizersPath>
    <stopwords>resources/stopwords/portuguese_stop_smaller.txt</stopwords>
  </paths>

  <normalizers>RemoveDiacriticalMarks</normalizers>

  <!-- Similarity measures to use -->
  <similarityMeasure name="Dice" weight="25"/>
  <similarityMeasure name="Jaccard" weight="25"/>
  <similarityMeasure name="EditDistance" weight="50"/>


  <!-- Answer selection criteria -->
  <criteria>
    <criterion name="AnswerFrequency" weight="0"/>
    <criterion name="AnswerSimilarityToUserQuestion" weight="30"/>
    <criterion name="QuestionSimilarityToUserQuestion" weight="30"/>
    <criterion name="SimpleTimeDifference" weight="0"/>
    <criterion name="SimpleConversationContext" weight="40" nPreviousInteractions="2"/>
  </criteria>


  <!-- Parameters for the multiagent mode of SaySomethingSmart

    defaultAgentsMode: Take only above agents into account or use external agents as well [classic/multi]

    externalAgentsPath: Path to the externalAgents folder (default is resources/externalAgents)

    decisionMethod: Decision method to use. Current available decision methods are:
      SimpleMajority - Most frequent answer given by the agents is the one delivered to the user
      PrioritySystem - Agents have explicitly defined priorities;
                     - If an agent with the highest priority can answer the user's query, that answer is delivered to the user and other agents' answers are ignored;
                     - An agent with priority 1 has higher priority than an agent with priority 5;
                     - If an agent is not specified in the priority settings, the system will assume that it has a lower priority than the specified agents

  -->

  <multiagentParameters>
    <defaultAgentsMode>multi</defaultAgentsMode>
    <externalAgentsPath>resources/externalAgents</externalAgentsPath>
    <decisionMethod>PrioritySystem</decisionMethod>
  </multiagentParameters>


  <prioritySettings>
    <agent name="EdgarAgent" priority="1" />
    <agent name="MixAgent" priority="2" />
  </prioritySettings>



  <noAnswerFoundPT>Não sei responder a isso</noAnswerFoundPT> 

</config>
