<config>
  <language>portuguese</language>

  <lucene>
    <dbPath>/resources/luceneDB/portuguese/this.db.db4o</dbPath>
    <indexPath>resources/luceneIndexes/portuguese</indexPath>
    <hitsPerQuery>10</hitsPerQuery>
  </lucene>


  <paths>
    <corpusPath>corpus</corpusPath>
    <normalizersPath>resources/normalizers/puncts.txt</normalizersPath>
    <stopwords>resources/stopwords/portuguese_stop_smaller.txt</stopwords>
  </paths>

  <normalizers>RemoveDiacriticalMarks</normalizers>

  <!-- Similarity measures to use -->
  <similarityMeasure name="Dice" weight="25"/>
  <similarityMeasure name="Jaccard" weight="25"/>
  <similarityMeasure name="EditDistance" weight="50"/>

  <!-- Answer selection criteria -->
  <criteria>
    <criterion name="AnswerFrequency" weight="0"/>
    <criterion name="AnswerSimilarityToUserQuestion" weight="0"/>
    <criterion name="QuestionSimilarityToUserQuestion" weight="0"/>
    <criterion name="SimpleTimeDifference" weight="0"/>
    <criterion name="SimpleConversationContext" weight="100" nPreviousInteractions="2"/>
  </criteria>

  <noAnswerFoundPT>Não sei responder a isso</noAnswerFoundPT> 

</config>
