<?xml version="1.0" encoding="UTF-8"?>
<config>
    <mainClass>EdgarAgent</mainClass>
    <corpusPath>corpus/edgar</corpusPath>   
    <dbPath>/resources/luceneDB/edgar/this.db.db4o</dbPath>
    <indexPath>resources/luceneIndexes/edgar</indexPath>
    <threshold>0.35</threshold>
    <stopwords>resources/stopwords/edgar_stop.txt</stopwords>
</config>